:root {
    --dark-grey: rgb(37, 37, 38);
    --red: rgb(255, 83, 73);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-grey);
    color: white;
    font-family: montserrat, sans-serif;
    overflow-x: hidden;
    background-image: url("../images/web-ready/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* header section */
main {
    width: 100vw;
    height: 50vh;
}

.logo {
    width: 100%;
    margin: 10px 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#generate {
    width: 100%;
    margin-top: 20px;
    font-size: 800;
}

.btn-text {
    font-size: 1rem;
    font-weight: 900;
}

.character-results {
    width: 100vw;
}

/* saved characters */
.saved-characters {
    width: 100vw;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.saved-char-btn {
    background-color: transparent;
    border: 2px solid #78909c;
    line-height: 30px;
}

.saved-char-btn:hover {
    background-color: #78909c;
}

/* search results */

.hide {
    display: none !important;
}

h2 {
    font-weight: 900;
    font-size: 1rem;
    display: inline;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

hr {
    margin-bottom: 10px;
}

.collapsible {
    color: black;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible-body {
    background-color: white;
}

.collapsible-body p {
    font-size: 1rem;
}

p strong {
    font-weight: 700;
}

/* media queries */
@media screen and (min-width: 768px) {
    .logo {
        width: 80%;
    }

    p {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    #generate {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    p {
        font-size: 1.75rem;
    }
}